## Deliverable 2. Create a Customer Travel Destinations Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)
g_key

'AIzaSyB25eQvqsNinEVaUc8-caXVA82hTfJGCwU'

In [18]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Louiseville,CA,46.2559,-72.9415,10.40,56,5,8.05,clear sky
1,1,Evensk,RU,61.9500,159.2333,3.40,88,100,26.82,overcast clouds
2,2,Klaksvik,FO,62.2266,-6.5890,32.00,55,43,26.46,scattered clouds
3,3,Jamestown,US,42.0970,-79.2353,18.00,79,1,5.75,clear sky
4,4,Qaanaaq,GL,77.4840,-69.3632,-5.31,75,99,2.66,overcast clouds

In [19]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? (farenheit)"))
max_temp = float(input("What is the maximum temperature you would like for your trip? (farenheit)"))

What is the minimum temperature you would like for your trip? (farenheit)70
What is the maximum temperature you would like for your trip? (farenheit)77

In [20]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
13,13,New Norfolk,AU,-42.7826,147.0587,73.99,40,3,3.00,clear sky
16,16,Touros,BR,-5.1989,-35.4608,77.00,88,20,3.44,few clouds
23,23,Kapaa,US,22.0752,-159.3190,77.00,69,75,14.97,light rain
25,25,East London,ZA,-33.0153,27.9116,70.30,84,80,3.04,broken clouds
40,40,Hobart,AU,-42.8794,147.3294,73.99,45,75,14.97,broken clouds
...,...,...,...,...,...,...,...,...,...,...
620,620,Santo Anastacio,BR,-21.8383,-51.6103,71.60,94,100,8.05,light rain
650,650,Buchanan,LR,5.8808,-10.0467,75.20,94,40,5.61,mist
662,662,Huarmey,PE,-10.0681,-78.1522,71.31,74,70,6.73,broken clouds
667,667,Tairua,NZ,-37.0167,175.8500,71.01,57,0,10.00,clear sky
672,672,Kango,GA,0.1943,10.0951,73.87,96,100,0.78,overcast clouds

In [21]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                85
City                   85
Country                85
Lat                    85
Lng                    85
Max Temp               85
Humidity               85
Cloudiness             85
Wind Speed             85
Current Description    85
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

#hotel name is null because we are going to fill it in the next few steps

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,New Norfolk,AU,73.99,clear sky,-42.7826,147.0587,
16,Touros,BR,77.00,few clouds,-5.1989,-35.4608,
23,Kapaa,US,77.00,light rain,22.0752,-159.3190,
25,East London,ZA,70.30,broken clouds,-33.0153,27.9116,
40,Hobart,AU,73.99,broken clouds,-42.8794,147.3294,
50,Ler,SS,71.65,few clouds,8.3018,30.1418,
62,Atambua,ID,74.77,overcast clouds,-9.1061,124.8925,
75,Mataura,NZ,71.82,overcast clouds,-46.1927,168.8643,
87,Port-Gentil,GA,76.89,overcast clouds,-0.7193,8.7815,
95,Amapa,BR,72.05,broken clouds,1.0000,-52.0000,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
13,New Norfolk,AU,73.99,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages
16,Touros,BR,77.00,few clouds,-5.1989,-35.4608,INN NEW HORIZON
23,Kapaa,US,77.00,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
25,East London,ZA,70.30,broken clouds,-33.0153,27.9116,Tu Casa
40,Hobart,AU,73.99,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
50,Ler,SS,71.65,few clouds,8.3018,30.1418,
62,Atambua,ID,74.77,overcast clouds,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
75,Mataura,NZ,71.82,overcast clouds,-46.1927,168.8643,Ellie's Villa
87,Port-Gentil,GA,76.89,overcast clouds,-0.7193,8.7815,Fengshui Residence
95,Amapa,BR,72.05,broken clouds,1.0000,-52.0000,

In [25]:
# 7. Drop the rows where there is no Hotel Name.
bool_series1 = pd.notnull(hotel_df["Hotel Name"])
hotel_df=hotel_df[bool_series1]
clean_hotel_df=hotel_df

In [26]:
# 8a. Create the output File (CSV)
output_data_file="Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))