## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)
g_key

'AIzaSyB25eQvqsNinEVaUc8-caXVA82hTfJGCwU'

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,13,New Norfolk,AU,73.99,clear sky,-42.7826,147.0587,The Shingles Riverside Cottages
1,16,Touros,BR,77.00,few clouds,-5.1989,-35.4608,INN NEW HORIZON
2,23,Kapaa,US,77.00,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
3,25,East London,ZA,70.30,broken clouds,-33.0153,27.9116,Tu Casa
4,40,Hobart,AU,73.99,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

# I'm picking Rurrenabaque (index = 48) -> Acari (index = 10) -> Hualmay (index = 54) -> Huarmey (index = 82)



vacation_start = vacation_df.loc[48]
vacation_end = vacation_df.loc[48]
vacation_stop1 = vacation_df.loc[10]
vacation_stop2 = vacation_df.loc[54] 
vacation_stop3 = vacation_df.loc[82]
vacation_start

City_ID                            442
City                      Rurrenabaque
Country                             BO
Max Temp                          75.2
Current Description    overcast clouds
Lat                           -14.4413
Lng                           -67.5278
Hotel Name               Casa de Campo
Name: 48, dtype: object

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"],vacation_start["Lng"])
end = (vacation_end["Lat"],vacation_end["Lng"]+.0001)
stop1 = (vacation_stop1["Lat"],vacation_stop1["Lng"])
stop2 = (vacation_stop2["Lat"],vacation_stop2["Lng"])
stop3 = (vacation_stop3["Lat"],vacation_stop3["Lng"])
end

(-14.4413, -67.5277)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end,  waypoints = [stop1,stop2,stop3], travel_mode = 'DRIVING')
fig.add_layer(itinerary)
fig



#PLEASE NOTICE THE MAP LOOKS SCREWED UP BC THE RETURN ROUTE IS JUST TRACING THE TRIP ROUTE

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.


itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],axis=1).T.reset_index()
itinerary_df

,index,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,48,442,Rurrenabaque,BO,75.2,overcast clouds,-14.4413,-67.5278,Casa de Campo
1,10,98,Acari,PE,73.62,overcast clouds,-15.4311,-74.6158,HOSPEDAJE XIMENA
2,54,478,Hualmay,PE,71.17,broken clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
3,82,662,Huarmey,PE,71.31,broken clouds,-10.0681,-78.1522,Hotel Miramar

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
hotel_info

['\n<dl>\n<dt>Hotel Name</dt><dd>Casa de Campo</dd>\n<dt>City</dt><dd>Rurrenabaque</dd>\n<dt>Country</dt><dd>BO</dd>\n<dt>Max Temp</dt><dd>75.2 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HOSPEDAJE XIMENA</dd>\n<dt>City</dt><dd>Acari</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>73.62 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Villa Kitzia Huacho</dd>\n<dt>City</dt><dd>Hualmay</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>71.17 Â°F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Miramar</dd>\n<dt>City</dt><dd>Huarmey</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>71.31 Â°F</dd>\n</dl>\n']

In [11]:
# 11a. Add a marker layer for each city to the map.

fig2 = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig2.add_layer(marker_layer)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))