In [14]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [15]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Medea,36.2642,2.7539,53.60,87,0,2.30,DZ,2021-01-29 22:36:48
1,1,Ushuaia,-54.8000,-68.3000,42.80,70,75,24.16,AR,2021-01-29 22:32:10
2,2,Sunel,24.3667,75.9667,50.65,44,0,3.56,IN,2021-01-29 22:36:49
3,3,Chokurdakh,70.6333,147.9167,-25.26,86,100,7.40,RU,2021-01-29 22:36:49
4,4,Vaini,-21.2000,-175.2000,75.20,94,90,11.50,TO,2021-01-29 22:36:49

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
g_key

'AIzaSyB25eQvqsNinEVaUc8-caXVA82hTfJGCwU'

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False,max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of windyness
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? (farenheit)"))
max_temp = float(input("What is the maximum temperature you would like for your trip? (farenheit)"))

What is the minimum temperature you would like for your trip? (farenheit)80
What is the maximum temperature you would like for your trip? (farenheit)85

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
9,9,Rikitea,-23.1203,-134.9692,80.26,66,71,7.38,PF,2021-01-29 22:36:50
11,11,Sola,-13.8833,167.5500,84.20,84,75,15.46,VU,2021-01-29 22:36:50
34,34,Isangel,-19.5500,169.2667,84.20,70,20,16.75,VU,2021-01-29 22:36:53
37,37,Hithadhoo,-0.6000,73.0833,81.21,76,56,9.78,MV,2021-01-29 22:36:53
63,63,Sabang,5.8933,95.3214,81.66,75,82,20.85,ID,2021-01-29 22:36:57
66,66,Butaritari,3.0707,172.7902,80.78,74,95,16.71,KI,2021-01-29 22:36:57
72,72,Maraa,-1.8333,-65.3667,80.04,73,35,2.42,BR,2021-01-29 22:36:58
75,75,Bage,-31.3314,-54.1069,80.60,74,0,3.44,BR,2021-01-29 22:36:58
77,77,Arraial Do Cabo,-22.9661,-42.0278,82.40,73,0,17.27,BR,2021-01-29 22:34:49
78,78,Souillac,-20.5167,57.5167,80.60,83,40,8.05,MU,2021-01-29 22:36:59

In [28]:
preferred_cities_df.count()

City_ID       60
City          60
Lat           60
Lng           60
Max Temp      60
Humidity      60
Cloudiness    60
Wind Speed    60
Country       60
Date          60
dtype: int64

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
9           Rikitea      PF     80.26 -23.1203 -134.9692
11             Sola      VU     84.20 -13.8833  167.5500
34          Isangel      VU     84.20 -19.5500  169.2667
37        Hithadhoo      MV     81.21  -0.6000   73.0833
63           Sabang      ID     81.66   5.8933   95.3214
66       Butaritari      KI     80.78   3.0707  172.7902
72            Maraa      BR     80.04  -1.8333  -65.3667
75             Bage      BR     80.60 -31.3314  -54.1069
77  Arraial Do Cabo      BR     82.40 -22.9661  -42.0278
78         Souillac      MU     80.60 -20.5167   57.5167

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Rikitea,PF,80.26,-23.1203,-134.9692,Pension Maro'i
11,Sola,VU,84.20,-13.8833,167.5500,Leumerus Bungalows
34,Isangel,VU,84.20,-19.5500,169.2667,Volcano Sea View Tree House
37,Hithadhoo,MV,81.21,-0.6000,73.0833,Scoop Guest House
63,Sabang,ID,81.66,5.8933,95.3214,Hotel Citra
66,Butaritari,KI,80.78,3.0707,172.7902,Isles Sunset Lodge
72,Maraa,BR,80.04,-1.8333,-65.3667,
75,Bage,BR,80.60,-31.3314,-54.1069,Hotel Obino - Bagé
77,Arraial Do Cabo,BR,82.40,-22.9661,-42.0278,Pousada Porto Praia
78,Souillac,MU,80.60,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [38]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [41]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))